*{
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}


.fondo{
  width: 100%;
  height: 100%;
  background-image: url(https://media.istockphoto.com/id/1358904373/es/foto/elegante-espacio-de-trabajo-con-ordenador-port%C3%A1til-bloc-de-notas-y-taza-de-caf%C3%A9-sobre-mesa-de.jpg?s=2048x2048&w=is&k=20&c=gmlj9nKh2L2hsDOn801eYFJ7fdfX3RAZ_m4WWxZ6tz8=);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fondo p{
  text-align: center;
}
