<div class="fondo" >
  <div class="mainContainer">
<!--     <table class="table">
--><!--       <thead>
        <tr>
          <th>Descipción</th> <th>Precio</th> <th>Mes</th>
        </tr>
      </thead> -->

<!--   <tr>
        <td *ngFor="let nombrePersona of students" >{{nombrePersona}}
  </tr> -->

  <div *ngIf="correr">
    <ul>
      <li [ngClass]="nombrePersona ?'containterOne':''"  [style.font-size]="correr ? '12px':'10px'" *ngFor="let nombrePersona of students">
          Nombre: {{nombrePersona}}
      </li>
    </ul>
    <!-- <tr>
      <td   *ngFor="let nombrePersona of students" >{{nombrePersona}}
  </tr>-->
  </div>
  <div class="boton">
    <button (click)="correr=true"  >Activar</button>
    <button (click)="correr=false" >Desactivar</button>
  </div>


<!-- </table>
--></div>


</div>




