<div class="fondo">
  <div class="mainContainer">
    <H1 class="title">Estudiantes</H1>
    <div *ngIf="correr">
      <ul>
        <li
          [ngClass]="nombrePersona ? 'containterOne' : ''"
          [style.font-size]="correr ? '12px' : '10px'"
          *ngFor="let nombrePersona of students"
        >
          Nombre: {{ nombrePersona }}
        </li>
      </ul>
    </div>

    <div class="boton">
      <button (click)="correr = true">Activar</button>
      <button (click)="correr = false">Desactivar</button>
      <p class="title">La fecha de hoy es: {{ hoy | date : "short" }}</p>
    </div>
  </div>

  <form [formGroup]="formularioPincipal" (ngSubmit)="submit()">
    nombre: <input type="text" formControlName="nombre" required /> edad:
    <input type="text" formControlName="edad" /> correo:
    <input type="text" formControlName="correo" />
    <button type="submit">Confirmar</button>
  </form>
{{formularioPincipal.valid ? "Valido" : "Invalido"}}
  {{formularioPincipal.get("nombre")?.value | json}}
</div>
