*{
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.menu{
/*   position: fixed; */
  width: 200px;
  height: 100%;
  background-color: rgba(43, 43, 46, 0.932);
}
.menu li{
  text-align: center;
  padding:15px 10;
  border-bottom:1px solid cornsilk;
}
.menu li a{
  color: blanchedalmond;
}

.menu{

  height: 100%;
}
